# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RPGCombatGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Jon_A\Desktop\Docs\Unity_Projects\RPGCombat\RPGCombatGame\.idea\.idea.RPGCombatGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
